#page-header {
  text-align: center;
  color: #b3b;
}

.day-header {
  color: #eee;
  background-color: #333;
  padding-left: 5px;
  /* width: max-width; */
}

.day-section {
  box-sizing: border-box;
  background-color: #ccc;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

p {
  font-size: 1.2em;
}
